# Generate with:
# node -e "const crypto=require('crypto');const salt=crypto.randomBytes(16).toString('hex');const hash=crypto.pbkdf2Sync('123',salt,100000,32,'sha256').toString('hex');console.log(`${salt}:${hash}`)"
PASSWORD_HASH=
JWT_SECRET=secret
